In [46]:
import pandas as pd
from ydata_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [47]:
df = pd.read_csv("/Users/whoseunassailable/Documents/coding_projects/college_projects/readiculous/data/processed/combined_books.csv")

/var/folders/dw/fn12lc3x2b317ydc5b70v2340000gn/T/ipykernel_85713/797220179.py:1: DtypeWarning: Columns (1,3,4,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/whoseunassailable/Documents/coding_projects/college_projects/readiculous/data/processed/combined_books.csv")

## We will pre-process the data and see what are all the missing and duplicate values present in the dataset

In [48]:
df.isnull().sum()

user_id              97108
isbn                 38923
rating               24441
title                24442
author               24441
year                 97108
publisher            97108
age                 113480
normalized_title     26196
matched_genres       24441
desc                 58546
dtype: int64

### Columns that should NOT be missing (ideally):
rating - Drop rows where rating is missing

title -  Drop rows where title is missing

author - Drop rows where author is missing

matched_genres - Drop rows where matched_genres is missing

In [49]:
required_cols = ['rating', 'title', 'author', 'matched_genres']
df = df.dropna(subset=required_cols).copy()

In [50]:
df.shape

(127332, 11)

In [51]:
df['normalized_title'] = df['normalized_title'].fillna(df['title'].str.lower())

In [52]:
df.shape

(127332, 11)

In [53]:
df = df.drop(columns=['user_id', 'age', 'publisher', 'year'])

In [54]:
df.columns

Index(['isbn', 'rating', 'title', 'author', 'normalized_title',
       'matched_genres', 'desc'],
      dtype='object')

In [55]:
def inspect_all_dirty_strings(df):
    cols_to_check = [
        'isbn', 'rating', 'title', 'author',
        'normalized_title', 'matched_genres', 'desc'
    ]
    
    for col in cols_to_check:
        print(f"\n--- Inspecting column: {col} ---")
        
        # Convert to string and drop missing
        df_col = df[col].dropna().astype(str)
        
        print("Non-null count:", df_col.shape[0])
        print("Unique values:", df_col.nunique())

        # Check for only-numeric strings or very short strings
        print("\nSuspicious values (pure numbers or < 3 chars):")
        suspicious = df_col[df_col.str.match(r'^\d+$') | df_col.str.len().lt(3)]
        print(suspicious.value_counts().head(10))

        # Check for null-like values stored as strings
        print("\nString values that look like nulls ('nan', 'none', etc.):")
        null_like = df_col[df_col.str.lower().isin(['nan', 'none', 'null', 'n/a', 'na'])].value_counts()
        print(null_like)

        # Top 5 most common values
        print("\nTop 5 most frequent entries:")
        print(df_col.value_counts().head(5))
        
        print("-" * 60)

In [56]:
inspect_all_dirty_strings(df)

--- Inspecting column: isbn ---
Non-null count: 112851
Unique values: 88793

Suspicious values (pure numbers or < 3 chars):
isbn
0061015725    462
0316777730    268
0515122734    217
0440224675    202
1551667509    200
0446611808    200
0345378490    196
0345417623    195
0451184963    162
0440176484    154
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
isbn
0061015725    462
0316777730    268
0515122734    217
0440224675    202
1551667509    200
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: rating ---
Non-null count: 127332
Unique values: 290

Suspicious values (pure numbers or < 3 chars):
Series([], Name: count, dtype: int64)

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
rating
4.0    10317
3.5     6057
5.0     5576
4.5     5418
2.5     3362
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: title ---
Non-null count: 127332
Unique values: 98628

Suspicious values (pure numbers or < 3 chars):
title
It      204
1984    144
We       13
S.       11
V         8
V.        6
Q         6
Go        3
14        2
300       2
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
title
Prey            500
Dreamcatcher    429
Naked           410
Hannibal        362
Sanctuary       347
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: author ---
Non-null count: 127332
Unique values: 69823

Suspicious values (pure numbers or < 3 chars):
author
19    1
Ai    1
J.    1
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
author
Stephen King        1447
Dean R. Koontz       990
Michael Crichton     962
Nora Roberts         727
Julie Garwood        558
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: normalized_title ---
Non-null count: 127332
Unique values: 97951

Suspicious values (pure numbers or < 3 chars):
normalized_title
it      205
1984    147
1        39
2        36
3        31
911      19
4        18
9        15
8        15
7        15
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
normalized_title
prey            500
dreamcatcher    429
naked           414
hannibal        362
sanctuary       347
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: matched_genres ---
Non-null count: 127332
Unique values: 73094

Suspicious values (pure numbers or < 3 chars):
matched_genres
[]    10957
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
matched_genres
[]                                                                                                                                                 10957
['Fiction', 'Mystery', 'Fantasy', 'Books About Books', 'Thriller', 'Contemporary', 'Adult', 'Romance', 'Mystery Thriller', 'Novels']                1226
['Science Fiction', 'Fiction', 'Horror', 'Fantasy', 'Media Tie In', 'Science Fiction Fantasy', 'Mystery', 'Novels', 'War', 'Aliens']                 926
['Nonfiction', 'Fashion', 'Biography', 'Memoir', 'Art', 'Autobiography', 'Biography Memoir', 'Adult', 'Contemporary', 'Photography']                 849
['Romance', 'Romantic Suspense', 'Suspense', 'Contemporary', 'Contemporary Romance', 'Fiction', 'Thriller', 'Mystery', 'Audiobook', 'Survival']      498
Name: count, dtype: int64
------------------------------------------------------------

--- Inspecting column: desc ---
Non-null count: 93228
Unique values: 92499

Suspicious values (pure numbers or < 3 chars):
desc
.     6
>     4
Â     1
No    1
b     1
PB    1
a     1
Name: count, dtype: int64

String values that look like nulls ('nan', 'none', etc.):
Series([], Name: count, dtype: int64)

Top 5 most frequent entries:
desc
This scarce antiquarian book is a facsimile reprint of the original. Due to its age, it may contain imperfections such as marks, notations, marginalia and flawed pages. Because we believe this work is culturally important, we have made it available as part of our commitment for protecting, preserving, and promoting the world's literature in affordable, high quality, modern editions that are true to the original work.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                77
This book was converted from its physical edition to the digital format by a community of volunteers. You may find it for free on the web. Purchase of the Kindle edition includes wireless delivery.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               64
This is a pre-1923 historical reproduction that was curated for quality. Quality assurance was conducted on each of these books in an attempt to remove books with imperfections introduced by the digitization process. Though we have made best efforts - the books may have occasional errors that do not impede the reading experience. We believe this work is culturally important and have elected to bring the book back into print as part of our continuing commitment to the preservation of printed works worldwide.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    40
Many of the earliest books, particularly those dating back to the 1900s and before, are now extremely scarce and increasingly expensive. We are republishing these classic works in affordable, high quality, modern editions, using the original text and artwork.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 35
The story focuses on Kenichi, an average 16-year-old high school student who has been picked on his whole life. However, on his first day of class, he meets and befriends the mysterious transfer student, Miu FÅ«rinji. Driven by his desire to become stronger and to protect those around him, he follows her to RyÅzanpaku, a dojo where those who are truly strong and have mastered their arts gather (RyÅzanpaku comes from the Chinese story of Heroes of the Water Margin who train together at Liangshan æ¢å±±). After learning basics from Miu, Kenichi is able to beat a high-ranking member of the school's karate club, and becomes a target for all the delinquents in the school. Kenichi's reason for training is to fulfill the promise he made to protect Miu. Subsequently, Kenichi's daily routine is divided between hellish training under the six masters of RyÅzanpaku, and his fights against the members of Ragnarok, a gang that views him as either a possible ally or an impending threat to their plans.,After defeating Ragnarok, Kenichi faces a new enemy called Yomi, a group of disciples who are each personally trained by a master of an even bigger organization rivaling RyÅzanpaku, Yami. While the masters of RyÅzanpaku follow the principle of always sparing their opponents' lives (Katsujin-ken), the members of Yami believe that defeating an opponent is valid by any means including murder (Satsujin-ken). Caught in the struggle between the two factions, Kenichi, Miu and their ever growing team of allies join forces to fight the members of Yomi, while his masters confront the members of Yami in a battle to decide the future of the martial arts' world.    31
Name: count, dtype: int64
------------------------------------------------------------

### Cleaning Summary & Recommendations
isbn
Mostly clean. Looks like valid ISBNs (all numeric, fixed length).
Optional: Remove rows where isbn is missing if you plan to use it as a unique book key.

rating
We'll drop rows where rating is missing for collaborative filtering.

title / normalized_title
Some entries are very short (like "It", "V", "14"), which may be ambiguous or junk.
Keep short ones like “1984”, “It” (real books).
Remove/flag single-character or number-only titles like "1", "911", "Q".

author
A few numeric or junk entries ("19", "J.", "Ai") so replace them with empty author
Keep known short names if verified (Ai might be real).

matched_genres
Drop rows where matched_genres == '[]' (these can't be used in genre filtering).

for description
Remove junk entries like ".", ">", "No", "a", "PB" and make the value empty instead

In [57]:
# Drop rows missing required columns (except isbn)
df = df.dropna(subset=['rating', 'title', 'author', 'matched_genres']).copy()

In [58]:
# Convert columns to string for safe processing
df['title'] = df['title'].astype(str)
df['author'] = df['author'].astype(str)
df['matched_genres'] = df['matched_genres'].astype(str)
df['desc'] = df['desc'].astype(str)
df['normalized_title'] = df['normalized_title'].astype(str)

In [59]:
# Step 1: Remove titles that are purely numeric or single character (but keep legit short ones like "1984", "It")
legit_short_titles = {'it', 'we', 's.', 'v.', 'v', 'go'}
def is_bad_title(title):
    t = title.strip().lower()
    return ((len(t) <= 3 or t.isdigit()) and t not in legit_short_titles)

In [60]:
df = df[~df['title'].apply(is_bad_title)]

In [61]:
# Step 2: Replace junk author names (numbers or 1-2 character codes) with empty string
def clean_author(author):
    a = author.strip()
    if a.lower() in {'nan', 'none'} or a.isdigit() or len(a) <= 2 or a.lower() in {'j.', 'a.', 'b.'}:
        return ''
    return a
df['author'] = df['author'].apply(clean_author)

In [62]:
# Step 3: Drop rows where matched_genres is just an empty list
df = df[df['matched_genres'].str.strip() != '[]']

In [63]:
# Step 4: Replace junk descriptions with empty string
junk_descs = {'.', '>', 'no', 'b', 'a', 'pb', 'Â '}
df['desc'] = df['desc'].apply(lambda x: '' if x.strip().lower() in junk_descs or len(x.strip()) < 10 else x)

In [64]:
# Step 5: Normalize title if not available
df['normalized_title'] = df['normalized_title'].replace('nan', np.nan)
df['normalized_title'] = df['normalized_title'].fillna(df['title'].str.lower())

In [65]:
# Reset index for safety
df = df.reset_index(drop=True)

In [66]:
df.shape

(115758, 7)

In [ ]:
df['author'] = df['author'].apply(lambda x: x.title())

In [67]:
df.to_csv("/Users/whoseunassailable/Documents/coding_projects/college_projects/readiculous/data/processed/ready_for_feature_engineering.csv")